<%= erb :'_errors' %>


<form class="edit-animal-form" method="post" action="/animals/<%= @animal.id %>">
  <input type="hidden" name="_method" value="put" />
  <input type="text" name="animal[image_url]" value="<%= @animal.image_url %>" />
  <input type="text" name="animal[name]" value="<%= @animal.name %>" />
  <input type="text" name="animal[species]" value="<%= @animal.species %>" />
  <input class="edit-animal-button" type="submit" value="Save Changes" />

</form>
