<h1><%= @animal.name %></h1>
<h2><%= @animal.species %></h2>
<%= erb :'users/_hello' %>
<a href="/">Home</a>

<div class="animal-show-container">
  <img class="animal-image" src=<%= @animal.image_url %> />
</div>

<div class="nuzzle-amounts">
  <p class="nuzzle-counter"><%= @animal.name %>'s NUZZLES: <%= @animal.nuzzles.count %></p>
</div>

<% if logged_in? && current_user.id == @animal.uploader.id %>
  <a href="/animals/<%= @animal.id %>/edit">Edit <%= @animal.name %></a>
  <form method="post" action="/animals/<%= @animal.id %>">
    <input type="hidden" name="_method" value="delete" />
    <input class="animal-delete-button" type="submit" value="No more nuzzles :(" />
  </form>
<% end %>

